body{
  font-family:"Arial","Meiryo",sans-serif ;
  font-size: 20px;
  text-align: center;
}
.google-fonts{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 10px 10px 10px red;
  border-bottom: solid 3px rgb(115, 115, 114);
}
.first-paragraph{
  color:pink;
}
.second-paragraph{
  color: skyblue;
}
#parent p{
  font-weight: bold;
}